.gaugechart {
	margin: 0 auto;
}

#preview-textfield {
  position: absolute; top: 100px; left: 0; right: 0;
  text-align: center; font-size: 2em; font-weight: bold;
  color: black; font-family: 'Amaranth', sans-serif;
}

/* center icons */ 
.ui-grid-a {text-align:center; } 
.index-grid {padding-top: 30px;}
/* set row height */ 
.index-a,.index-b { position: relative; padding: 0;} 
/* set label size and color */ 
.icon-label {display:block;font-size:13px; color: #2F96B4;} 
/* bottom align icons to adjust for uneven icon heights */
.icon-springboard {position:absolute;bottom:0;width:100%; } 
a:link, a:visited,a:hover,a:active {text-decoration:none; }

