.gaugechart {
	margin: 0 auto;
}

#preview-textfield {
  position: absolute; top: 100px; left: 0; right: 0;
  text-align: center; font-size: 2em; font-weight: bold;
  color: black; font-family: 'Amaranth', sans-serif;
}

/* center icons */ 
.ui-grid-a {text-align:center; } 
.index-grid {padding-top: 30px;}
/* set row height */ 
.index-a,.index-b, .index-c { position: relative; padding: 0;} 
/* set label size and color */ 
.icon-label {display:block;font-size:14px; color: #343434;} 
/* bottom align icons to adjust for uneven icon heights */
.icon-springboard {position:absolute;bottom:0;width:100%; } 
a:link, a:visited,a:hover,a:active {text-decoration:none; }


.ui-header .ui-title{
/*    position: relative ;
    right: 10px;*/
 }

body {
    background: #e8e3dc ;
    background-repeat:repeat-y repeat-x;
    background-attachment:scroll;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

.ui-header {
  border-bottom: 4px solid   #BD362F;
  min-height: 45px;
}

.ui-footer {
  border-top: 1px solid   #a7a5a0   /*{e-bar-border}*/;
}

.have-divider {
  background: url('images/divider.png') repeat-y;
  background-position: left;
  padding-left: 10px;
}

.back-divider {
  background: url('images/divider.png') repeat-y;
  background-position: right;
  padding-right: 10px;
}

.canvas_animate {
  position: relative;
  margin-left: 50%;
  top: -140px;
}

.detail {
  position: relative;
  top: -130px;
}

.logo-heart {
  position: : fixed;
}

.ui-page {
  -webkit-backface-visibility: hidden;
}

#loadingImage {
  background: url('../images/loading.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 25%;
  padding-top: 15px;
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: 50%; /* width of the spinner gif */
  height: 80px; /*hight of the spinner gif +2px to fix IE8 issue */
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #666; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(0,0,0,0.8)/* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2) /*Very transparent black*/
}

.loading-label {
  display:block;font-size:14px; color: #fff;
  font-weight: bold;
}

.logoAorta {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
  margin-top: 20px;
}