<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-theme='e' data-position="fixed" >
    <h1>Monitoring</h1>
    <div class="ui-btn-left back-divider">
      <a href="<%= url_for :action => :index %>" data-direction="reverse">
        <img src="/public/images/back.png"/>
      </a>
    </div>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div> 
  </div>

  <div data-role="content">

      <div class="ui-grid-b">
        <div class="ui-block-b">
          <canvas id="canvas-preview" ></canvas>
          <span id="preview-textfield"></span>

          <canvas id="canvasRadial7" width="200" height="200" class="canvas_animate"></canvas>

        </div>
      </div>

      <ul data-role="listview" data-inset="true" class="detail">
        <li data-role="list-divider" data-divider-theme="a">Detail</li>
        <li>
          Heart Rate : <span class="ui-li-aside" id="hr_value">0 bpm</span>
        </li>
        <li>
          Distance : <span class="ui-li-aside" id="distance_value">0 m</span>
        </li>
        <li>
          Speed : <span class="ui-li-aside" id="speed_value">0 m/s</span>
        </li>
        <li>
          Battery : <span class="ui-li-aside" id="bt_value">0 %</span>
        </li>
      </ul>


  <script type="text/javascript">
    var radial7;


    function init() {
        // Define some sections
        var sections = [steelseries.Section(0, 65, 'rgba(220, 0, 0, 0.3)'),
                        steelseries.Section(65, 200, 'rgba(0, 220, 0, 0.3)'),
                        steelseries.Section(200, 250, 'rgba(220, 220, 0, 0.3)') ],

            // Define one area
            areas = [steelseries.Section(250, 300, 'rgba(220, 0, 0, 0.3)')],

            // Define value gradient for bargraph
            valGrad = new steelseries.gradientWrapper(  0,
                                                        100,
                                                        [ 0, 0.33, 0.66, 0.85, 1],
                                                        [ new steelseries.rgbaColor(0, 0, 200, 1),
                                                          new steelseries.rgbaColor(0, 200, 0, 1),
                                                          new steelseries.rgbaColor(200, 200, 0, 1),
                                                          new steelseries.rgbaColor(200, 0, 0, 1),
                                                          new steelseries.rgbaColor(200, 0, 0, 1) ]);


        radial7 = new steelseries.RadialBargraph('canvasRadial7', {
                            gaugeType: steelseries.GaugeType.TYPE3,
                            size: 201,
                            section: sections,
                            useSectionColors: true,
                            titleString: 'Hert Rate',
                            unitString: 'Bpm',
                            lcdVisible: true,
                            maxValue: 300,
                        });

        
        // setInterval(function(){ setRandomValue(radial7, 300); }, 4800);
        radial7.setFrameDesign(steelseries.FrameDesign.TILTED_GRAY);
        radial7.setBackgroundColor(steelseries.BackgroundColor.WHITE);
        radial7.setForegroundType(steelseries.ForegroundType.TYPE5);
        radial7.setValueColor(steelseries.ColorDef.RED);
        radial7.setLcdColor(steelseries.LcdColor.BLUE_BLACK);
        radial7.setLedColor(steelseries.LedColor.BLUE_LED);

    }

    function setRandomValue(gauge, range) {
        gauge.setValueAnimated(Math.random() * range);
    }

    function setDirRandomValue(gauge, range) {
        gauge.setValueAnimatedLatest(Math.random() * range);
        gauge.setValueAnimatedAverage(Math.random() * range);
    }

    function setHorRandomValue(gauge) {
        var pitch = Math.random() * 100 - 50,
            roll = Math.random() * 120 - 60;
        gauge.setPitchAnimated(pitch);
        gauge.setRollAnimated(roll);
    }

    function setAnimate(data){
        radial7.setValueAnimated(data)
    };

    function setHr(data){
        $("#hr_value").html(data);
    }

    function setBattery(data){
        var bat = data+" %";
        $("#bt_value").html(bat);
    }

    function setDistance(data){
        var distance = data+" m"
        $("#distance_value").html(distance);
    }

     function setSpeed(data){
        var speed = data+" m/s"
        $("#speed_value").html(speed);
    }

    init();
</script>

  </div>

</div>
