<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-theme='e' data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @home.id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @home.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @home.id%></td>
      </tr>
      
    </table>
  </div>

</div>
