.gaugechart {
	margin: 0 auto;
}

#preview-textfield {
  position: absolute; top: 100px; left: 0; right: 0;
  text-align: center; font-size: 2em; font-weight: bold;
  color: black; font-family: 'Amaranth', sans-serif;
}

/* center icons */ 
.ui-grid-a {text-align:center; } 
.index-grid {padding-top: 30px;}
/* set row height */ 
.index-a,.index-b, .index-c { position: relative; padding: 0;} 
/* set label size and color */ 
.icon-label {display:block;font-size:14px; color: #343434;} 
/* bottom align icons to adjust for uneven icon heights */
.icon-springboard {position:absolute;bottom:0;width:100%; } 
a:link, a:visited,a:hover,a:active {text-decoration:none; }


/*.ui-header .ui-title{
    margin: 0.3em 70px 0.7em 10px;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:0 0px;
    height:30px;
 }*/

body {
    background: #e8e3dc ;
    background-repeat:repeat-y repeat-x;
    background-attachment:scroll;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

.ui-header {
  border-bottom: 4px solid   #02b1d7;
  min-height: 45px;
}

.ui-footer {
  border-top: 1px solid   #a7a5a0   /*{e-bar-border}*/;
}

.have-divider {
  background: url('images/divider.png') repeat-y;
  background-position: left;
  padding-left: 10px;
}

.back-divider {
  background: url('images/divider.png') repeat-y;
  background-position: right;
  padding-right: 10px;
}

.canvas_animate {
  position: relative;
  margin-left: 50%;
  top: -140px;
}

.detail {
  position: relative;
  top: -130px;
}
