<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-theme='e' data-position="fixed" >
    <h1>Login</h1>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div> 
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_login %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>

      <div data-role="fieldcontain">
        <input type="text" id="login" name="login" class="itemValue" placeholder="username" />
          <br />
        <input type="password" id="password" name="password" class="itemValue" placeholder="password" />
      </div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a"><button type="submit" data-theme='e'>Login</button></div>
        <div class="ui-block-b"><a data-role="button" data-theme='e' href="<%= url_for :controller => :Settings, :action => :signup %>">Sign Up</a></div>
      </fieldset>
    </form>
  </div>

</div>
