<div data-role="page" data-rho-wait-page="true">

  <div data-role="header" data-theme='e' >
    <h1>Ooops</h1>
  </div>

  <div data-role="content">
   <p>Check Your Connection</p>
  </div>

</div>
