<div data-role="page" data-rho-wait-page="true">

  <div data-role="header" data-position="fixed">
    <h1>Ooops</h1>
  </div>

  <div data-role="content">
   <p>Check Your Connection</p>
  </div>
  <div data-role="footer" data-position="fixed"> 
      <h3>Heart Care</h3> 
  </div>

</div>
