<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-theme='e' data-position="fixed">
    <div class="ui-btn-left back-divider">
      <a href="<%= url_for :action => :login %>" data-direction="reverse">
        <img src="/public/images/back.png"/>
      </a>
    </div>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div> 
    <h1>Sign up</h1>
  </div>

  <div data-role="content">
    <div >
      <img src="/public/css/images/logo.png" class="logoAorta">
    </div>
    <form method="POST" action="<%= url_for :action => :do_signup %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>
      <div id="spinner" class="spinner" style="display:none;">
        <img id="img-spinner" src="/public/images/ajax-loader.gif" alt="Loading"/>
        <span class='loading-label'>Loading....</span>
      </div>
      <div class="ui-grid-solo">
        <div class="ui-block-a">
          <input type="text" id="login" name="login" class="itemValue" placeholder="username" />
        </div>
      </div>
      <div class="ui-grid-solo">
        <div class="ui-block-a">
          <input type="password" id="password" name="password" class="itemValue" placeholder="password" />
        </div>
      </div>
      <div class="ui-grid-solo">
        <div class="ui-block-a">
          <input type="text" id="email" name="email" class="itemValue" placeholder="email" />
        </div>
      </div>
      
      <fieldset class="ui-grid-a">
        <div class="ui-block-a"><button type="reset" data-theme='c'>Reset</button></div>
        <div class="ui-block-b"><button type="submit" data-theme='c'>Submit</a></div>
      </fieldset>
    </form>
    <script type="text/javascript">
      function loadingAnimate(){
       $("#spinner").show();
      }
    </script>
  </div>
</div>
