<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-theme='e' data-position="fixed" >
   <div class="ui-btn-left back-divider" >
      <a href="<%= url_for :action => :profile %>" data-direction="reverse">
        <img src="/public/images/back.png"/>
      </a>
    </div>
    <div class="ui-btn-right have-divider">
        <a href="<%=url_for :controller => :Settings, :action => :do_refresh %>">
            <img src="/public/images/reload.png"/>
        </a>
    </div>
    <h1>Update Password </h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :do_update_password %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>

      <div data-role="fieldcontain">
        <input type="password" id="password" name="password" class="itemValue" placeholder="new password"/>
      </div>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a"><button type="reset" data-theme='e'>Reset</button></div>
        <div class="ui-block-b"><button type="submit" data-theme='e'>Submit</a></div>
      </fieldset>
    </form>
  </div>

</div>
