<div data-role="page" data-rho-wait-page="true">

  <div data-role="header" data-theme='e' data-position="inline">
    <h1>Wait</h1>
  </div>

  <div data-role="content">
        <div id="spinner" class="spinner" style="display:block;">
          <img id="img-spinner" src="/public/images/ajax-loader.gif" alt="Loading"/>
          <span class='loading-label'>Loading....</span>
        </div>
  </div>

</div>
